.subtitle {
    font-weight: bold;
    text-decoration: underline;
}
.imgsz {
    height: 150px;
}
.quickselect {
    display: inline;
    font-family: "Cooper Black", "Century Gothic", sans-serif;
    color: #F79B23;
    text-decoration: none;
    text-align: left;
    position: relative;
    left: 25px;
    top: 20px;
}
body {
    font-family: "Century Gothic", Helvetica, sans-serif;
    
}
.title {
    font-weight: bold;
    font-family: "Cooper Black", "Century Gothic Bold", sans-serif;
    color: #33CCCC;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -30px;
   
}
.quicktitle {
    color: #33CCCC;
    font-size: 30px;
}
.center {
    text-align: center;
}
iframe {
    float: right;
    position: relative;
    left: -50px;
}
